package {{packageName}};

import java.io.Serializable;

/**
 * Created by codeGen on {{createTime}}.
 *
 * {{desc}}.
 */
public class {{className}} implements Serializable {

    {{#properties}}
    private {{type}} {{name}}; //{{desc}}
    {{/properties}}

    /**
     *
    {{#properties}}
     * @param {{name}}  {{desc}}
    {{/properties}}
     */
    public {{className}}({{#properties}}{{type}} {{name}}{{^last}},{{/last}}{{/properties}}){
        {{#properties}}
        this.{{name}}={{name}};
        {{/properties}}
    }

    {{#getters}}
    /**
    * 获取{{desc}}
    */
    public {{type}} get{{name}}() {
        return {{property}};
    }

    {{/getters}}
}